body {
  width: 600px;
  background: #353535;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.atom-input {
  width: calc(100% - 2rem) !important;
  border-radius: 3rem !important;
  background-color: #202124 !important;
  -webkit-tap-highlight-color: transparent;
  border: none !important;
  padding: 0.5rem 1rem !important;
  box-shadow: 0 0 0.5rem 0.3rem #353535;
  z-index: 10;
  position: relative;
  transition: background-color 200ms ease-in-out !important;
}

.atom-inputFocused, .atom-input:active, .atom-input:hover {
  /*background-color: #292a2d !important;*/
}

body .atom-suggestionsContainerOpen {
  border: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: unset !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
