.atom-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.atom-item > div {
  display: flex;
  align-items: center;
}

.atom-category {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 6px;
  border-radius: 2px;
  padding: 0 0.5rem;
  float: left;
  border-radius: 0.5rem;
  height: 1.25rem;
  flex-shrink: 0;
}
.atom-timeAgo,
.atom-keyword,
.atom-shortcut {
  display: flex;
  align-items: center;
  height: 1.25rem;
  padding: 0 0.5em;
  margin-left: auto;
  font-family: monospace;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  float: right;
  flex-shrink: 0;
}
.atom-shortcut {
  color: #fff;
  background-color: #4d78cc;
}
.atom-keyword {
  color: #fff;
  background-color: rgb(49, 177, 79);
}
.atom-timeAgo {
  color: #757575;
  background-color: transparent;
  font-style: italic;
  font-size: 10px;
}
.atom-icon {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

.atom-category.Command {
  background: rgb(159, 74, 84);
}
.atom-category.History {
  background: rgb(165, 22, 134);
}
.atom-category.Bookmark {
  background: rgb(77, 22, 165);
}
.atom-category.Tab {
  background: rgb(46, 41, 194);
}
.atom-category.Search {
  background: rgb(40, 90, 143);
}
.atom-category.Drawer {
  background: rgb(206, 64, 206);
}
.atom-category.New {
  background: rgb(60, 144, 102);
}
.atom-category.Share {
  background: #cf264d;
}
.atom-suggestionsContainerOpen {
  overflow: scroll !important;
}
.atom-suggestion {
  color: #d1d5db !important;
  font-weight: 300;
  background-color: #353535 !important;
  border: none !important;
  border-radius: 0.5rem;
}
.atom-suggestion[aria-selected="true"] {
  background-color: #202124 !important;
}
.atom-icon {
  margin-right: 0.5rem;
}
.atom-item {
  word-break: break-all;
}
